body {
    font-family: 'Space Grotesk', sans-serif;
    margin: 40px;
    font-size: 16px;
  }
  
  h1 {
    color: rgb(10, 6, 0);
    text-align: center;
  }
  
  h2 {
    color: #41a8d0;
    text-align: center;
  }
  
  p {
    color: #070000;
    line-height: 1.5
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #60bce0;
  }

  footer {
    color: #777;
    text-align: center;
    margin-top: 20px;
  }
  img {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 100%;
    height: auto; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  /* Add hover effect to table rows */
  tr:hover {
    background-color: #f2f2f2;
  }
  
 
  
  /* Add hover effect to images */
  img:hover {
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
  }